@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&display=swap');

:root {
    --primary-color: #EE7B11;
    --secondary-color: darkblue;
    --accent1-color: #DADAD9;
    --accent2-color: #080708;

    --heading-font: "Pacifico", cursive;
    --paragraph-font: "Oswald", sans-serif;

    --nav-background-color: darkblue;
    --nav-link-color: #EE7B11;
    --nav-hover-link-color: #DADAD9;
    --nav-hover-background-color: #080708;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    justify-items: center;
	border-bottom: 1px solid black;
    width: 100%;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;    
}

header nav {
    text-align: right;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

.navigation {
    display: flex;
    list-style: none;
}
.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--secondary-color);
	padding: 20px;
	text-decoration: none;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background: radial-gradient(var(--secondary-color), var(--accent2-color));
    display: block;
    padding: 20px;
    text-align: center;
}

.history {
    display: grid;
    padding: 20px; 
}

.history h2 {
    grid-column: 1 / 3;
}

.history p {
    grid-column: 2 / 3;
}

.pictures {
    display: grid;
    justify-content: space-around;
}

.pictures h2 {
    grid-column: 1 / 5;

}

.pictures img {
    display: flex;
    flex-direction: row;
}

.hero h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: relative;
	top: 20px;
	left: 0;
	background: radial-gradient(var(--secondary-color), var(--accent2-color));
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    width: 100%;
    text-align: center;
}

article {
	position: relative;
	top: 100px;
	left: 250px;
	background: radial-gradient(var(--primary-color), var(--accent1-color));
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.8;
    text-align: center;
    width: fit-content;
    font-size: 1rem;
}

body {
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    font-family: var(--paragraph-font);
    max-width: 1660px;
    padding: 20px;
}

.hero {
    margin: 10px auto;	
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

article img {
    float: right;
}

section {
    position: relative;
    margin-top: 150px;
}

section img {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: end;
    align-content: center;
}

footer p, a {
    padding: 5px;
}

.wireframe {
    display: block;
	color: var(--accent1-color);
	padding: 5px;
    border: 1px solid var(--secondary-color);
    text-decoration: none;
    text-align: center;
    background-color: var(--secondary-color);
    align-self: center;
    margin-right: 95px;
}

.wireframe:hover {
    color: var(--primary-color);
}

.introduction h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: relative;
	top: 20px;
	left: 0;
	background: radial-gradient(var(--secondary-color), var(--accent2-color));
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    width: 100%;
    text-align: center;
}

.introduction p {
    padding-top: 20px;
    text-align: center;
}

.contact iframe {
    display: block;
    max-width: 200px;
    max-height: 200px;
    justify-content: center;
}


.contact {
    padding: 20px; 
     
}

.contact p{
    display: flex;
    justify-content: center;
}

figcaption {
    text-align: center;
    border: 1px solid var(--secondary-color);
}

legend {
    font-family: var(--paragraph-font);
    padding: 0.5rem;
    font-size: 1.3rem;
    text-align: center;
}

label, input, button, select, textarea {
    font-family: "Oswald", sans-serif;
    color: var(--secondary-color);
}

body {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 255, .1);
    border-radius: 0.5rem;
    display: grid;
}

fieldset {
    display: grid;
    margin: 1rem;
    border: solid var(--secondary-color);
    justify-content: center;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
}

input[type="radio"] {
    width: 22px;
    height: 22px;
    align-self: center;
}

button {
    margin: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #EE7B11;
}