@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Rock+Salt&display=swap');

:root {
    --primary-color: #FF4D00;
    --secondary-color: #006BA6;
    --accent1-color: #2E282A;
    --accent2-color: #E0E0E0;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #006BA6;
    --nav-link-color: #FF4D00;
    --nav-hover-link-color: #E0E0E0;
    --nav-hover-background-color: #2E282A;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: relative;
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
    display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 125px;
	height: auto;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    text-align: right;

}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero img {
    display: block;
    width: 50%;
    height: auto;
    position: relative;
}

article img {
    display: block;
    width: 50px;
    height: auto;
    float: right;
    position: relative;
}

.sociallinks img {
    height: 1rem;
    width: auto;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
	font-weight: 700;
	text-decoration: underline;
}

section {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sociallinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}