* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #006BA6;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: #FF4D00;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #006BA6;
    padding: 2px;
    box-shadow: 0 0 30px #006BA6;
    float: right;
}

p {
    padding: 10px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

p {padding: 0;}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #FF4D00;
    color: #fff;
}

aside h2 {
    position: absolute;
    text-align: center;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}